body{
    background-color: dimgrey;
}
.main{
    display: inline-block;
    background-color: #f8f8f9;
    border-top: 10px solid #f1f1f1;
    padding: 35px;
    margin-left: 450px;
}
h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
                                        /*FIRST RADIO-BUTTON*/
.radio {
     position: absolute;
     opacity: 0;
 }
.left{
    margin-right: 50px;
}
.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}
.radio + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #10939a;
    opacity: 0;

}
.radio:checked + label:after {
    opacity: 1;
}
                                        /*SECOND RADIO-BUTTON*/
.radio-button {
    position: absolute;
    opacity: 0;
}
.radio-button + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}
.radio-button + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio-button + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #10939a;
    opacity: 0;

}
.radio-button:checked + label:after {
    opacity: 1;
}
                                            /*INPUTS*/
.email, .last-name, .first-name, .phone, .password, .city, .invite-code{
        padding: 8px 18px;
        font-size: 14px;
        width: 240px;
        line-height: 34px;
        outline-color: #10939a ;
}
.email{
     margin-bottom: 10px;
     margin-top: 10px;
    display: block;
 }
.names{
    border: 1px solid lightgrey;
    background-color: #FFFFFF;
    display: inline-block;
    border-bottom: none;
    vertical-align: center;
}
.last-name, .first-name{
    border: none;
    width: 100px;
}
.first-name{
    border-right: 1px solid lightgrey;
}
.container-phone-password{
    border: 1px solid lightgrey;
    display: inline-block;
    vertical-align: center;

}
.password, .phone{
    display: block;
    border: none;
}
.password{
    border-top: 1px solid lightgrey;
}

.city{
    margin-top: 10px;
    display: block;
}
                                            /*SELECT*/
.vehicle-type{
    width: 244px;
    outline: none;
    font-size: 14px;
    background-color: #FFFFFF;
    border: none;
    color: black;
    line-height: 34px;
}
.hack-the-css{
     border: 1px solid lightgrey;
     display: inline-block;
     padding: 10px 17px;
     margin: 10px 0;
     background-color: #FFFFFF;
     position: relative;
}

.hack-the-css:after {
    content: "▼";
    padding: 0 8px;
    font-size: 10px;
    position: absolute;
    right: 8px;
    top: 22px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    color: grey;
}
select {
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
                                            /*CONDITIONS TEXT*/
.conditions-text{
    margin:15px auto;
    font-size: 14px;
}
.conditions-link{
    text-decoration: none;
    color: #10939a;
}
                                                /*SUBMIT*/

.submit:hover{
    background-color: darkcyan;

}

.submit{
    position: relative;
    width: 280px;
    border: none;
    background-color: #10939a;
    color: white;
    font-size: 20px;
    padding: 15px 18px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
}
.button-next{
    position: relative;
}
.fa-long-arrow-alt-right{
    position: absolute;
    right: 30px;
    bottom: 3px;
    color: white;
}

